venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# .gitignore

data/train

transfer_learning/
own_model_training/
fine_tuning/

unified_experiment/merge_experiments.py
unified_experiment/mlartifacts
unified_experiment/mlruns
unified_experiment/performance_tracking

*.keras
