venv/
**/pneumonia/
*.pyc
*.pyo
*.pyd

**/fine_tuning/
**/own_model_training/
**/transfer_learning/
**/data/

# frontend: ignore unneccessary frontend contents
frontend/node_modules
frontend/package.json

# ignore local git files
.git/
.gitignore

# ignore potential log files
*.log